
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
}
header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

header h1 a{
    color:red;
    margin:0;
}
.logo h1  {
    color: #ff0000;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.client-area {
    background-color: #ff0000;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}



.blogs {
    padding: 50px 20px;
    text-align: center;
    background-color: #1b1b1b;
}

.blogs h1 {
    font-size: 3em;
    color: #e50914;
    margin-bottom: 10px;
}

.blogs h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 40px;
}

.bloggrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.blogcard {
    background-color: #2a2a2a;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.blogcard img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blogcontent {
    padding: 20px;
}

.blogdate {
    color: #ccc;
    font-size: 0.9em;
    margin-bottom: 10px;
}

.blogcard h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #fff;
}

.blogcard p {
    font-size: 1em;
    line-height: 1.5;
    color: #ddd;
    margin-bottom: 20px;
}

.readmore {
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.readmore:hover {
    background-color: #b00710;
}

.blogcard:hover {
    transform: scale(1.05);
}


