body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}



header .logo-and-nav {
    display: flex;
    align-items: center;
}

header .logo {
    max-width: 100px;
    margin-right: 20px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header .client-area {
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
header h1 a{
    color:red;
    margin:0;
}

.contactcontent {
    padding: 50px 20px;
}

.contactcontent p {
    font-size: 1.2em;
}

.contactcontent form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.contactcontent form input,
.contactcontent form textarea {
    padding: 15px;
    border: 2px solid #f00;
    border-radius: 5px;
    background-color: #111;
    color: #fff;
}

.contactcontent form {
    background-color: #f00;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button {
    background-color: #f00;
    color: #fff;
    padding: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    padding: 50px 20px;
    background-color: #111;
    color: #fff;
}

.footercontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footerlogo {
    max-width: 100px;
}

.contactinfo {
    text-align: center;
}

.footernav {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footernav .categories,
.footernav .legal,
.footernav .find-us {
    text-align: left;
}

.footernav h4 {
    margin-bottom: 10px;
}

.footernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footernav ul li {
    margin-bottom: 5px;
}

.footernav ul li a {
    color: #fff;
    text-decoration: none;
}

.footernav ul li a:hover {
    text-decoration: underline;
}
#thankyoumessage {
    display: none;
    margin-top: 10px;
    border: 1px solid green;
    color: green;
    padding: 10px;
    text-align: center;
}
