body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}
.login-box a{
    color:red;
    margin:0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: #111;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
}



h2 {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 15px;
    text-align: left;
}

.input label {
    display: block;
    margin-bottom: 5px;
}

.input input {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.remember-me {
    margin-bottom: 20px;
    text-align: left;
}

.remember-me input {
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f30;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    color: #999;
    text-decoration: none;
}

.forgot-password:hover {
    color: #fff;
}
