body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
}

header h1 a{
    color:red;
    margin:0;
}
.logo h1  {
    color: #ff0000;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.client-area {
    background-color: #ff0000;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    margin-right: 50px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #000;
}

.sectioncontent {
    max-width: 50%;
}

.sectioncontent h2 {
    font-size: 3em;
    margin: 0 0 20px 0;
    color: #fff;
}

.ctabutton,
.ctabutton-secondary {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.ctabutton-secondary {
    background-color: transparent;
    border: 2px solid #ff0000;
}

.sectioncontent p {
    font-size: 1.2em;
    margin-top: 20px;
}





